.menu {

    display: none;
    list-style: none;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    /* transform: translateX(100%); */
    width: 100%;
    max-height: 100vh;
    justify-content: center;
    flex-direction: column;
    /* transition: transform 0.4s ease-in; */

}

.menu ul {

    margin: 3em 0em;
    list-style: none;
}

.menu ul li {

    text-align: end;

}

.menu ul li a {
    padding: 0;
    margin: auto;

}


.menu li {
    text-align: center;
}

.menu a {
    text-decoration: none;
    display: block;
    padding: 1em 0em;
    color: var(--text-color);

}

.menu a:hover {
    background-color: var(--hover-color);
    color: var(--text-color);

}

.logo {
    width: 3em;
    background-color: var(--primary-color);
    border-radius: 2em;
}

.logo:hover {

    background-color: var(--hover-color);

}

.logo img {
    width: 3em;
    object-fit: cover;
}

.showMenu {
    transform: translateX(0);
    display: flex;
}

@media screen and (min-width: 600px) {

    .menu {

        /* transform: translateX(0); */
        display: flex;
        position: static;
        flex-direction: row;
        justify-content: end;
        width: 75em;
        /* transition: transform 0s ease-in; */

    }

    .menu ul {
        display: none;

    }


    .menu a {
        padding: 1.9em 1em;


    }

}