.banner {
    display: flex;
    height: 100vh;
    background-image: url(../../../public/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

